[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=update-icon
Comment=Updates available notification icon for XFCE
Exec=pk-update-icon &
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

